{% extends "layouts/base.html" %}

{% block content %}

<a href="{{ url_for('manage_students') }}" class="btn btn-outline-secondary btn-sm mb-3">
    ← Назад к студентам
</a>

<div class="card shadow-sm border-0 rounded-4">
    <div class="card-body p-4">

        <h1 class="mb-3">Редактирование студента</h1>

        <form method="post" action="{{ url_for('edit_student', user_id=student['id']) }}">
            {% include "includes/csrf_token.html" %}
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Логин</label>
                    <input type="text"
                           name="username"
                           class="form-control"
                           value="{{ student['username'] }}">
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label">Новый пароль</label>
                    <input type="password"
                        name="password"
                        class="form-control"
                        placeholder="Оставьте пустым, если пароль менять не нужно">

                    <div class="form-text">
                        Оставьте поле пустым, если не нужно менять пароль.
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">ФИО студента</label>
                <input type="text"
                       name="full_name"
                       class="form-control"
                       value="{{ student['full_name'] }}">
            </div>

            <div class="mb-3">
                <label class="form-label">Группа</label>
                <input type="text"
                       name="student_group"
                       class="form-control"
                       value="{{ student['student_group'] }}">
            </div>

            <div class="d-flex gap-2">
                <button class="btn btn-primary" type="submit">
                    Сохранить изменения
                </button>

                <a href="{{ url_for('manage_students') }}" class="btn btn-outline-secondary">
                    Отмена
                </a>
            </div>

        </form>

    </div>
</div>

{% endblock %}